<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>@project.name@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script type="text/javascript" src="swfobject/swfobject.js"></script>
    
    <script type="text/javascript">
			var flashvars = {};
			var params = {};
			var attributes = {};

			swfobject.embedSWF(
				"@project.output@", 
				"@project.name@", 
				"@project.output.width@", 
				"@project.output.height@", 
				"@flashplayer.version@",
				"swfobject/expressInstall.swf",
				flashvars,
				params,
				attributes);
    </script>

  </head>
  <body>
    <div id="@project.name@">
      <p>You need atleast Flash Player @flashplayer.version@ to view this content.
			<a href="http://www.adobe.com/go/getflashplayer">Get Flash Player</a></p>
    </div>
  </body>
</html>